body {
    font-family: Arial, sans-serif;
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgb(104, 92, 76);
}

/*Container*/
.card-container {
    margin-left: 20%;
    width: 80%;
    height: 100vh;
    float: left;
}

.maincard-container{
    position: fixed;
    width: 20%;
    height: 100vh;
    float: left;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.maincard .moving-image-maincard {
    background: url('images/dotoverlay.png') repeat;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 500%;
    height: 500%;
    opacity: 0.8;
    animation: moveImageMaincard 100s linear infinite;
    background-size: cover;
}

@keyframes moveImageMaincard {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(-25%, -25%); /* Adjust values for proper movement */
    }
    100% {
        transform: translate(0, 0);
    }
}


/*Container ends here*/

/*Takes care of card size based on screen size*/
@media (max-width: 768px) {
    .card {
        width: 100%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .card {
        width: 45%;
    }
}

@media (min-width: 1025px) {
    .card {
        width: 22%;
    }
}
/*ends here */

/* Card Display */
.card {
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    position: relative;
    width: 22%;
    height: 80%;
    z-index: 1;
    float: left;
    padding: 1%;
}
.maincard {
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    position: relative;
    width: 100%;
    height: 100%; /* Adjust the height as needed */
    z-index: 1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1); /* Adjust the box-shadow as needed */
}

.card .overlay-image-engine {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    width: 100px; /* Set a fixed width for the overlay image */
    height: auto; /* Set a fixed height for the overlay image */
    background-color: #d4d4d4b0;
    border-radius: 30%;
    z-index: 1;
}

.card .overlay-image-available {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    width: 100px; /* Set a fixed width for the overlay image */
    height: auto; /* Set a fixed height for the overlay image */
    background-color: #d4d4d4b0;
    border-radius: 30%;
    z-index: 1;
}

.maincard .portrait{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: auto; /* Set a fixed height for the overlay image */
    border-radius: 40%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1); /* Adjust the box-shadow as needed */
    outline: 5px solid #99866a; /* Adjust the outline thickness and color as needed */
    z-index: 2;
}

.overlay-text {
    position: absolute;
    border-radius: 10px;
    width: 85%;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: #00000086;
    font-size: 16px;
    font-weight: bold;
    text-wrap:balance;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease;
    z-index: 1;
}

.card .hover-gif {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 93%;
    padding: 1%;
    height: cover;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

/*Card display ends here*/

/*Card hover*/
.card:hover .hover-gif {
    opacity: 1;
}

.card:hover .overlay-image-engine{
    opacity: 1;
}
.card:hover .overlay-image-available{
    opacity: 1;
}

.card:hover .overlay-text {
    opacity: 1;
}

.card:hover {
    z-index: 2;
    transform: scale(1.05);
}
/*Card hover ends here*/